<h1 p-4vw>Popular Series</h1>
<div class="container-fluid container-series">
  <div class="row row-owlcar">
    <div class="col-1 btn-owlcar">
      <a (click)="owlCar.prev()">
        <i class="fa fa-chevron-left fa-lg"></i>
      </a>
    </div>
    <!-- carousel -->
    <div class="col-10">
      <owl-carousel-o [options]="customOptions" #owlCar>
        <ng-container *ngFor="let serie of popularSeries">
          <ng-template carouselSlide>
              <img [src]="serie.backdrop_path">
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="col-1 btn-owlcar">
      <a (click)="owlCar.next()">
        <i class="fa fa-chevron-right fa-lg"></i>
      </a>
    </div>
  </div>
</div>
