<div class="popular-movie" [ngStyle]="{'backgroundImage': 'url(' + backdropPath + ')'}">
  <div>
    <h1>{{titleTredingMovie}}</h1>
    <p>More popular</p>
  </div>
    <!-- <img [src]="backdropPath">
    <img [src]="posterPath"> -->
</div>

<button type="button" class="btn btn-favorires" (click)="goFav()">
  <i class="fa fa-star" aria-hidden="true"></i>
</button>

<div>
  <app-carousel-movies
    (firstTrendingMovie)="getTrendingMovie($event)"
  ></app-carousel-movies>
</div>

<div>
  <app-carousel-series></app-carousel-series>
</div>

<div>
  <app-top-rated-movies></app-top-rated-movies>
</div>
