
<div class="container-fluid detail-movie" [ngStyle]="{'backgroundImage': 'url(' + detailMovie.backdrop_path + ')'}">
  <!-- <h1>{{detailMovie.title}}</h1> -->
  <div class="row row-detail-movie">

    <div class="col-12 d-flex flex-column align-self-end">
      <div class="row">
        <div class="col-sm-3">
          <div class="col-poster d-none d-sm-block">
            <img class="" [src]="detailMovie.poster_path">
            <div class="d-flex justify-content-around flex-wrap">
              <div *ngFor="let genre of listGenres">
                <span class="badge badge-pill badge-light">{{genre.name}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <h1 class="title-movie">{{detailMovie.title}}</h1>
          detail-movie
        </div>
        <div class="col-12 d-flex d-sm-none">
          <div *ngFor="let genre of listGenres">
            <span class="badge badge-pill badge-light">{{genre.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-text">
      <div class="row">
        <div class="col-sm-9 offset-sm-3">
          <p>{{detailMovie.overview}}</p>
          <button type="button" class="btn btn-outline-warning mr-3" (click)="addFavorite()" *ngIf="showBtnFav">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Add to Favorites
          </button>
          <button type="button" class="btn btn-danger" (click)="goHome()">
            <i class="fa fa-reply" aria-hidden="true"></i>
            Return
          </button>
          <button type="button" class="btn btn-favorires" (click)="goFav()">
            <span> Favourites </span>
            <i class="fa fa-star" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <pre>{{detailMovie|json}}</pre> -->
