<div class="search-movie">
  <form #sMovie="ngForm" (ngSubmit)="searchMovies(sMovie.value)">
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="search" (click)="clearSearch()" id="search" aria-describedby="error_search" placeholder="Search Movie" name="movie"
          class="form-control" [(ngModel)]="searchMovie" #search="ngModel" (keyup.enter)="searchMovies(sMovie.value)"
        >
      </div>
      <!--
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary" (click)="testSpiner()">Spiner</button>
        </div>
      -->
    </div>
    <small id="error_search" class="form-text text-red w-100 text-center"></small>
  </form>
</div>

<div *ngIf="listMovies.length > 0">
  <div class="card-group row row-search">
    <div class="col-12">
      <h1 class="text-center">Search Result</h1>
    </div>
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let movie of listMovies">
      <div class="card" (click)="redirect(movie)">
        <img class="card-img-top" [src]="movie.poster_path" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.overview}} </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            <span>Language: {{movie.original_language}}</span>/
            <span>Popularity: {{movie.popularity}}</span>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
