<div class="search-movie">
  <form #sMovie="ngForm" (ngSubmit)="searchMovies(sMovie.value)">
    <div class="form-group row">
      <div class="col-sm-10">
        <input type="search" id="search" aria-describedby="error_search" placeholder="Search" name="movie"
          class="form-control" [(ngModel)]="searchMovie" #search="ngModel"
        >
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <small id="error_search" class="form-text text-muted"></small>
  </form>
</div>
