<h1>Tranding Movies</h1>
<div class="container-fluid container-movies">
  <div class="row row-owlcar">
    <div class="col-1 btn-owlcar">
      <a (click)="owlCar.prev()">
        <i class="fa fa-chevron-left fa-lg"></i>
      </a>
    </div>
    <!-- carousel -->
    <div class="col-10">
      <owl-carousel-o [options]="customOptions" #owlCar>
        <ng-container *ngFor="let movie of trendingMovies">
          <ng-template carouselSlide>
              <div (click)="redirect(movie)">
                <img [src]="movie.backdrop_path">
              </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class=" col-1 btn-owlcar">
      <a (click)="owlCar.next()">
        <i class="fa fa-chevron-right fa-lg"></i>
      </a>
    </div>
  </div>
</div>
