.container-movies .row-owlcar .card{
  padding: 0;
}

.container-movies .row-owlcar {
  display: flex;
}

.container-movies .row-owlcar [class*="col-"]{
  flex: 1;
}

.container-movies .btn-owlcar {
  padding: 0;
  max-width: 6rem
}

.container-movies .btn-owlcar a{
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none
}

.container-movies .btn-owlcar a:hover{
  background-color: rgba( 0,0,0,0.05)
}
